<body>
    <script src="{{url_for('static', filename='add.js')}}"></script>
    <form action="/view/add" method="POST">
        <label>name</label><input type="text" name="name" id="name">
        <label>stock</label><input type="number" name="stock" id="stock">
        <label>price</label><input type="number" name="price" id="price">
        <button type="submit" onsumbmit=item>submit</button>
    </form>

    <h2>Upload images</h2>
    <form method="post" enctype="multipart/form-data" action="/api/uploads">
      <input type="file" name="file" multiple>
      <input type="submit" value="Upload">
    </form>
</body>