<head><script src="{{url_for('static', filename='add.js')}}"></script></head>
<body>
    <form onsubmit="item({{current_user.id}});return false">
        <label>name</label><input type="text" name="name" id="name">
        <label>stock</label><input type="number" name="stock" id="stock">
        <label>price</label><input type="number" name="price" id="price">
        <button type="submit">submit</button>
    </form>

    <h2>Upload images</h2>
    <form method="post" enctype="multipart/form-data" id="images" onsubmit="image()">
      <input type="file" name="file" multiple>
      <input type="submit" value="Upload">
    </form>
</body>