<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <scrript>
        $.ajax({
            url: '/api/add/category',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { name : $("#name").val(), items : $("#stock").val(), user_id: {{current_user.id}} } ),
            processData: false,
            success: function( ){
                console.log( 'Success')
            },
            error: function( errorThrown ){
                console.log( errorThrown );
            }
        });
    </script>
    <form>
        <input type="text" name="name" id="name">
        <input type="number" name="stock" id="stock">
        <button type="submit">submit</button>
    </form>

    <h2>Upload images</h2>
    <form method=post enctype=multipart/form-data action="/api/uploads">
      <input type=file name=file multiple>
      <input type=submit value=Upload>
    </form>
</body>